body {
    background-color: #032D68;
    color: white;
}

h1, h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;   
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 170px;
    margin: 0;
}

h2 {
    font-size: 40px;
}

.wrap-number-wrap {
    display: flex;
    gap: 10px;
}

.number-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#description, #comments {
    width: 440px;
    height: 200px;
}